/*
CSS reset for style sheet

  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {

    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {


    background: #1F2937;

    margin: 3em;
    width: 60%;
    height: 75%;
    border-radius: .5em;
    box-shadow: 0 0 15px white;
    
}

.content-words{

    display: flex;
    flex-direction: column;
    padding-left: 15em;
    padding-top: 10em;
}

.actions {

    display: flex;
    align-items: center;
    padding-left: 15em;
    gap: 10em;
    margin-top: 4em;
    margin-bottom: 2em;


}

p, .btn {

    font-family: 'Rubik', sans-serif;
}

.btn {

    background: #10B981;
    color: #ffffff;
    filter: brightness(.95);
    border: none;
    border-radius: .25em;
    padding: .5em 1em;
    font-family: Arial, Helvetica, sans-serif;
    
}

#input-length {

    height: 2.5em;
    width: 15em;
    background:#D5D4D8;
    border-radius: .25em;
}



.password-line{

    display: flex;
    flex-direction: column;
    padding-left: 15em;
    margin-top: .5em;
}

.decoration-line {

    border-top: 1px solid #2F3E53;
    width: 43em;

}

.see-passwords {

    display: flex;
    padding-left: 15em;
    gap: 5em;
}

.password-1, .password-2 {
   
    height: 3em;
    width: 15em;
    overflow: auto;
    
    
    padding: .25em 1.25em;
    margin-top: 3em;

    border-radius: .5em;
    background: #2F3E53;
    text-align: center;
 
    color: #5DEF92;
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.password-2 {
    
}

#first-line {

    color: #ffffff;
    font-weight: bold;
    font-size: 2.5em;
}

#second-line {
    color: #4ADF86;
    font-size: 2em;
    font-weight: bold;
}

#third-line {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: lighter;
    filter: brightness(.7);
    
}